$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1480px;
$containerPadding: 30px;

$tablet: 992px;
$mobile: 768px;
$mobileSmall: 480px;

$mainColor: #0A191E;
$mainBG: #fff;
$mainFontFamily: 'Source Sans Pro', sans-serif;
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 18px;

$orange: #F17228;
$yellow: #FFB30E;
$gray: #424242;